@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #DFE4EC;
  color: #555252;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #313131;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #436eb3c4;
  border-radius: 5px;
}